{% extends 'base.html.twig' %}

{% block body %}
<nav class="navbar bg-secondary-subtle">
    <div class="container-fluid">
        <div class="row mx-auto">
            <div class="col-auto d-flex align-items-center">
                <a href="{{path('app_home')}}" class="me-3 ms-3"><button class="btn btn-outline-secondary btn-lg">Home</button></a>
            </div>
            <div class="col-6 d-flex align-items-center fs-5">
                <span>Add new task to the {{todolist.name}}</span>
            </div>
            <div class="col">    
                {{ form_start(form) }}
                    <div class="d-flex">
                        {{ form_widget(form) }}
                        <button class="btn btn-outline-secondary ms-3" type="submit">Add</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</nav>
<main>
    <div class="container p-2">
        <ul class="list-group list-group-flush">
            {% for task in tasks %}
                <li class="list-group-item">
                    <input class="form-check-input me-3" role="button" type="checkbox" id="{{task.id}}">
                    <span>{{task.description}}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</main>
{% block javascripts %}
    {{ parent() }}
    <script>
        $('.form-check-input').click(function(element){
            let task_id = element.currentTarget.id;

            $.ajax({
                url: '{{path('app_task_remove')}}',
                type: 'delete',
                data: {'id': task_id},
                async: true,
                context: this,
                success: function(){
                    $(element.currentTarget).parent().addClass('text-decoration-line-through');
                    $(element.currentTarget).attr('disabled', true);
                }
            })
        })
    </script>
{% endblock %}
{% endblock %}
